*{
    box-sizing: border-box;
}

.album-container{
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line */
}

.album img{
    height: 200px;
    width: 200px;
}

.album-container div{
    background: lightgrey;
}